# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=senha_segura_aqui
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
DATABASE_ENVIRONMENT_SUFFIX=
SQLALCHEMY_DATABASE_URI=postgresql+psycopg2://postgres:senha_segura_aqui@postgres:5432/medchain_db

# AWS S3
MEDICAL_RECORDS_API_AMAZON_S3_ACCESS_KEY_ID=seu_access_key_id
MEDICAL_RECORDS_API_AMAZON_S3_SECRET_ACCESS_KEY=seu_secret_access_key
MEDICAL_RECORDS_API_AMAZON_S3_MEDICAL_RECORD_FILES_BUCKET_ID=seu_bucket_id

# Workspace
WORKSPACE=/caminho/para/seu/workspace